table,th ,td{
  margin-left: auto;
  margin-right: auto;
    border:2px solid black;
    border-collapse:collapse;
    
  }
  .appname
  {
    text-align: center;
  }
  input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    margin-bottom: 50px;
     width:530px
    
  }
  label
  {
   margin-right: 40px;
    margin-bottom: 50px;
    
  }
  


  .header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 150px;
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-right: 50px;
  }
   
.home
{
  width: 100px;
  height: 100px;
  
}
.starredList
{
  width:200px;
  border:2px solid black;
}
.hiddendata
{
  border:2px solid black;
  width:600px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 10px;
  box-shadow: inset 0 -3em 3em rgba(0, 0, 0, 0.1), 0 0 0 2px rgb(255, 255, 255),
  0.3em 0.3em 1em rgb(188, 186, 186);
}
#btn
{
  cursor: pointer;
}
.appname{
  margin-top: 200px;
}
.search {
  
  margin-top: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
 


}
#btn_star_delete
{
  border: none;
  cursor: pointer;
}